@inherits LayoutComponentBase

<div class="page">
    

    <main>
        <div class="top-row" dir="rtl">
            <span style="font-size:28px;font-weight:bold">Contacts</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
